.Button {
  display: inline-flex;
  padding: 0.35em 1em;
  background-color: transparent;
  color: var(--color-text-translucent);
  clip-path: var(--clip-top-left-bottom-right-edges);
  transition-property: background-color;
  transition-duration: var(--transition-duration);

  &:hover {
    background-color: hsl(from var(--color-base) h s calc(l + 25));
    color: var(--color-text-translucent-light);
    transition-duration: 0s;
  }

  &:active {
    background-color: hsl(from var(--color-base) h s calc(l + 12.5));
  }

  &--fluid {
    width: 100%;
  }
}
