.MoreInfo--wrapper {
  &[data-transition="close"],
  &[data-transition="initial"] {
    .MoreInfo {
      --clip-size: 100%;
    }
  }

  &[data-transition="open"],
  &[data-transition="close"] {
    .MoreInfo {
      transition-property: --clip-size;
      transition-duration: var(--transition-duration);
    }
  }
}

.MoreInfo {
  display: flex;
  flex-direction: column;
  width: 25rem;
  max-height: 40vh;
  background-color: var(--color-base);
  border: 2px solid var(--color-primary);
  backdrop-filter: var(--blur);
  clip-path: polygon(
    var(--clip-size) 0,
    100% 0,
    100% calc(100% - var(--clip-size)),
    calc(100% - var(--clip-size)) 100%,
    0 100%,
    0 var(--clip-size)
  );

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 13px;
    height: 2px;
    background-color: var(--color-primary);
    transform: rotate(-45deg);
  }

  &:before {
    top: 2px;
    left: -2px;
  }

  &:after {
    bottom: 2px;
    right: -2px;
  }

  &__Title {
    --font-size-int: 32px;
    display: flex;
    align-items: center;
    font-size: calc(var(--font-size-int) * 0.8);
    gap: 0.75rem;
    margin: 0.5rem;

    &:first-of-type {
      font-size: var(--font-size-int);
      margin: 0.5rem 0.75rem;
    }

    &Icon {
      width: 64px;
    }

    &Content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3px;
      width: 100%;

      &--name {
        line-height: 0.95em;
        font-size: 1em;
        font-weight: 700;
      }

      &--subtitle {
        line-height: 1.25em;
        font-size: 0.45em;
        color: var(--color-text-translucent);
      }
    }
  }

  &__Content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.33rem 0.5rem;

    &.scrollable {
      flex: 1;
      overflow: auto;
      scrollbar-width: thin;
      padding-top: 0;
    }
  }

  // MARK: TODO: Переделать
  &__Relationships {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;

    &--title {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    &--content {
      overflow: auto;
      scrollbar-width: thin;
      white-space: break-spaces;
    }
  }

  hr {
    width: 450px;
    margin: 0 -1em;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
  }
}

.MoreInfo__TitledInfo {
  display: flex;
  flex-direction: column;

  &--title {
    font-weight: 700;
    font-size: 0.75em;
    color: hsl(from var(--color-primary) h s calc(l + 12.5));
  }
}
