.StaticObjects {
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: -1;

  svg {
    transition: opacity var(--transition-duration);

    &.translucent {
      opacity: 0.33;
    }
  }

  circle {
    fill: transparent;
    stroke: yellow;
    stroke-width: 2px;
    stroke-dasharray: 15 15;
    animation: stroke-spin 5s infinite linear;

    ~ text {
      fill: yellow;
    }

    @keyframes stroke-spin {
      from {
        stroke-dashoffset: 0;
      }
      to {
        stroke-dashoffset: 30;
      }
    }
  }

  img {
    position: absolute;
  }

  .DeadSpace {
    width: 150px;

    &.first {
      left: 40px;
      top: 40px;
    }

    &.second {
      right: 40px;
      bottom: 40px;
    }
  }

  .RestrictedSpace {
    --sector-color: hsl(0, 66%, 33%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 600px;

    &__Logo {
      bottom: -35px;
      left: -175px;
      width: 150px;
    }
  }
}
